/*body{
    background-color: red;
}*/
.background-red{
 background-color: red;
}
.background-green{
    background-color: green;
}
.background-blue{
    background-color: blue;
}

.backgorund-yellow{
    background-color: yellow;
}